<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <% if current_user %>
    <%= render "shared/submenu"%>
    <h2 class="sub-header">Tratamientos</h2>

    <%=link_to "Agregar nuevo tratamiento", new_site_treatment_path(@site.id), class:"btn btn-primary btn-sm active padded", role:"button"%>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          <% @treatments.each do |treatment| %>
          <tr>
            <td><%=treatment.title%></td>
            <td><%=link_to "Editar", edit_site_treatment_path(id: treatment.id)%></td>
            <td><%= link_to "Eliminar", site_treatment_path(id: treatment.id), method: :delete%></td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>

  <% end %>
</div>
