<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <%= render "shared/submenu"%>
  <h2>Agrega un nuevo comentario sobre tu clínica aquí:</h2>

  <section class = "form-container">
    <%= bootstrap_form_for([@site, @testimonial], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8") do |f| %>
    <%= f.text_field :name, label: "Nombre" %>
    <%= f.text_field :title, label: "Título" %>
    <%= f.text_area :description, label: "Comentario" %>

    <%= f.submit "Guardar" %>
    <% end %>
  </section>
</div>
